<% provide(:title, 'Home') %>
<div class="hero-unit">
<h1>Welcome to EasyURL</h1>
	<%= form_for(@link) do |f| %>

	<input id="link_rlink" name="link[rlink]" class="span6 quickinput" placeholder="Enter your url" type="text">
	<br>
	<%= f.submit "Shorten it!!!", class: "btn btn-primary btn-large" %>
	<%end%>
</div>
