<% provide(:title,"Not found") %>
<div style="text-align: center">
<%= image_tag '404.png' %>
<h1>This URL has not been used</h1>
<h4>Do you want to use this url?</h4>
<%= render 'shared/form'%>
</div>