<%= form_tag addtobox_path do |f| %>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add link to box</h3>
  </div>
  <div class="modal-body">
    
  	<%= select_tag "box_id", options_from_collection_for_select(current_user.boxes.all, "id", "name") %>
    
  </div>
  <div class="modal-footer">
    <%= submit_tag "Add to box", class: "btn btn-primary" %>
    <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>