<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
      <a class="brand" href="<%=root_path %>" id="logo">EasyURL</a>
      <nav>
      <ul class="nav pull-right">
        <li class="active">Home</li>
        <li ><a>Holder 1</a></li>
        <li ><a>Holder 2</a></li>
      </ul>
      <nav>
    </div>
    </div>
  </header>